<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Preorder
 */
-->
<!--
/**
* Copyright © 2015 Amasty. All rights reserved.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ampreorder>
            <functional>
                <enabled>1</enabled>
                <allowemptyqty>0</allowemptyqty>
            </functional>
            <general>
                <addtocartbuttontext>Pre Order</addtocartbuttontext>
                <defaultpreordernote>Pre Order</defaultpreordernote>
                <orderpreorderwarning>Please be aware this is a preorder. The products will be shipped to you once they become available.</orderpreorderwarning>
            </general>
            <additional>
                <discovercompositeoptions>0</discovercompositeoptions>
                <autoaddwarningtoemail>1</autoaddwarningtoemail>
            </additional>
            <integration>
                <cartbutton><![CDATA[@(<button[^>]*btn-cart.*?<span[^>]*>)[^<>]+(</span>.*?</button>)@s]]></cartbutton>
                <productlistcartbutton><![CDATA[@<button[^>]*btn-cart[^>]*/product/(\d+).*?</button>@s]]></productlistcartbutton>
                <cartproductname><![CDATA[@<h2[^>]class="product-name".*?</h2>@s]]></cartproductname>
            </integration>
        </ampreorder>
    </default>
</config>
