<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="scommerce" translate="label" sortOrder="400">
            <label>Scommerce Configuration</label>
        </tab>
        <section id="googleremarketing" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Remarketing Tracking</label>
            <tab>scommerce</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Scommerce_GoogleRemarketing::config_googleremarketing</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="license_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="conversion_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Conversion ID</label>
					<comment>This will be used for checkout conversion pixel tracking</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="enable_other_sites" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable tracking for other sites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will enable other site variables (https://developers.google.com/adwords-remarketing-tag/parameters#other) instead of retail site variables</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="enable_dynamic" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable dynamic remarketing tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will enable and install remarketing tag to different pages</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="attribute_key" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product ID Attribute</label>
                    <source_model>Scommerce\GoogleRemarketing\Model\Config\Source\Attributes</source_model>
                    <comment>This attribute should match with the id provided in Google Merchant Center feed</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enable_dynamic">1</field>
                    </depends>
                </field>
			</group>
		</section>
    </system>
</config>